

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Libre Baskerville', serif;
}

.wrapper {
    flex: 1;
    /*background-image: url('../images/home-large6.jpg');*/
    /*background-size: 100% 110%;*/
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-image: url(../images/empty.jpg);
}


footer {
    text-align: center;
    margin-bottom: -140px;
}

hr {
  border-color: #e3e4d6;
  border-width: 1px;
  width: 80%;
  margin: 0 auto; 
  opacity: 1;
}

.navbar-nav li a {
  color: #e3e4d6; /* Задайте цвет текста (например, черный) */
  font-size: 26px; /* Задайте размер шрифта */
  text-decoration: none; /* Убрать подчеркивание ссылок */
}

p {
  color: #e3e4d6;
  font-size: 26px; 
}

.r1 {
  margin-top: 24em;
}

.icon {
  font-size: 56px;
}

.icon a {
  color: #e3e4d6;
}

.icon i.left {
  color: #7d8229;

}

.icon i.right {

  color: #d1d1c9;
}

.c-tab,
.c-mob {
  display: none;
}

.logobar {
  max-width: 170px; /* Установите желаемую максимальную ширину */
  max-height: 170px; /* Установите желаемую максимальную высоту */
}

.click {
  background-color: transparent;
  border: 3px solid #d1d1c9;
  border-radius: 50%;
  color: #d1d1c9;
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s;
  width: 200px;
  height: 80px;
  margin-bottom: 60px;
  margin-left: 2%;
}

.click:hover {
  background-color: #c7c8c8;
  color: white;
}

.click:active {
  background-color: #2980b9;
  border-color: #2980b9;
  color: white;
}



/*MOB*/

@media (max-width: 850px) {
  /*
  .wrapper {
      background-image: url('../images/home-mob2.jpg'); 
  }*/

  .navbar-nav li a {
    color: #7d8229; /* Задайте цвет текста (например, черный) */
    font-size: 16px; /* Задайте размер шрифта */
    text-decoration: none; /* Убрать подчеркивание ссылок */
  }

  .c-tab,
  .c-big {
    display: none;
  }

  .c-mob {
    display: block;
  }

  .navbar-brand img {
    max-width: 110px; /* Установите желаемую максимальную ширину */
    max-height: 110px; /* Установите желаемую максимальную высоту */
  }

  .navbar-brand {
    color: #c7c8c8;
  }

  .logoimg2 {
    display: none;
  }

  .logo {
    margin-left: 40px;
    margin: auto;
  }

}

/*TAB*/


@media (min-width: 850px) and (max-width: 1568px) {
  /*
  .wrapper {
      background-image: url('../images/home-tab1.jpg'); 
  }*/

  .navbar-nav li a {
    color: #8b5011; /* Задайте цвет текста (например, черный) */
    font-size: 16px; /* Задайте размер шрифта */
    text-decoration: none; /* Убрать подчеркивание ссылок */
  }

  .c-big,
  .c-mob {
    display: none;
  }

  .c-tab {
    display: block;
  }

  .nav-link img {
    max-width: 130px; /* Установите желаемую максимальную ширину */
    max-height: 130px; /* Установите желаемую максимальную высоту */
  }



}